.banner-button {
  z-index: 9;
  position: relative;
  padding: 0 2rem;
  width: 446px;
  height: 125px;
  padding: 48px 96px;
  gap: 8px;
  font-family: var(--font-sans);
  font-size: 24px;
  font-weight: 700;
  line-height: 28.8px;
}

@media only screen and (max-width: 75rem) {
  .home-button {
    padding: 0;
    margin: 0;
  }
  .home-button button {
    padding: 0;
  }
}

@media only screen and (max-width: 48em) {
  .home-button {
    order: 2;
  }
}
