.wrapper {
  flex: 1;
  padding: var(--adaptive-section-py) 0;
  position: relative;
}

.mainButton {
  margin: 0 auto;
  width: 427px;
  height: 125px;
  font-size: 24px;
  font-weight: 700;
  line-height: 28.8px;
  z-index: 9;
  position: relative;
  padding: 48px 96px;
}

@media screen and (max-width: 1200px) {
  .mainButton {
    width: 344px;
    height: 92px;
    font-size: 18px;
  }
}

@media screen and (max-width: 490px) {
  .mainButton {
    margin-top: -100px;
  }
}
