.wrapper {
  align-self: stretch;
}

@media (max-width: 1380px) {
  .table-flex {
    flex-direction: column;
    height: 100% !important;
  }
  .table-flex > div {
    width: 100% !important;
  }
  .firstCol {
    width: 100% !important;
  }
}
